@font-face {
    font-family: "SMBW";
    src: local("Super-Mario-World.ttf") format('truetype');
}

@font-face {
    font-family: "SMBW2";
    src: url("Super Mario World Text Box.ttf") format('truetype');
}

@font-face {
    font-family: "SMBW3";
    src: url("Super-Mario-Bros--3.ttf") format('truetype');
}

header {
  border-bottom: 3px solid #ff3939;
  margin-bottom: 1rem;
  font-family: SMBW2;
}

footer {
  border-top: 8px solid #ff3939;
  margin-top: 1rem;
  font-family: SMBW2;
}

a {
  color: #007b4a;
  text-decoration: none;
  font-family: SMBW3;
}

body {
  color: #222;
  font-family: SMBW2;
  line-height: 1.5;
  margin: 1rem;
  max-width: 1280px;
  background-color: #00deff;	
}
